@import 'config/button';
@import 'config/colors';
@import 'config/mixins';

.buiButton {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @include font;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  @include btn-size('medium');
  @include btn-style($default-button-text-color, $default-button-background, $default-button-text-color-hover, $default-button-background-hover, $default-button-text-color-active, $default-button-background-active);

  &:focus {
    outline: 0;
  }

  &:disabled {
    @include disabled;
  }
}

.buiButton--primary {
  @include btn-style($primary-button-text-color, $primary-button-background, $primary-button-text-color-hover, $primary-button-background-hover, $primary-button-text-color-active, $primary-button-background-active);
}

.buiButton--secondary {
  @include btn-style($secondary-button-text-color, $secondary-button-background, $secondary-button-text-color-hover, $secondary-button-background-hover, $secondary-button-text-color-active, $secondary-button-background-active);
}

.buiButton--state-success {
  @include btn-style($success-button-text-color, $success-button-background, $success-button-text-color-hover, $success-button-background-hover, $success-button-text-color-active, $success-button-background-active);
}

.buiButton--state-warning {
  @include btn-style($warning-button-text-color, $warning-button-background, $warning-button-text-color-hover, $warning-button-background-hover, $warning-button-text-color-active, $warning-button-background-active);
}

.buiButton--state-danger {
  @include btn-style($danger-button-text-color, $danger-button-background, $danger-button-text-color-hover, $danger-button-background-hover, $danger-button-text-color-active, $danger-button-background-active);
}

.buiButton--state-info {
  @include btn-style($info-button-text-color, $info-button-background, $info-button-text-color-hover, $info-button-background-hover, $info-button-text-color-active, $info-button-background-active);
}

.buiButton--state-link {
  font-weight: normal;
  @include btn-style($link-text-color, transparent, $link-hover-text-color, transparent, $link-text-color, transparent);

  &:focus {
    border-color: $default-button-background;
  }
}

.buiButton--basic {
  color: $neutralPrimary;
  background: transparent;
  border-color: transparent;
  font-weight: normal;

  .buiIcon {
    color: $themePrimary;
  }

  &:hover {
    color: $link-hover-text-color;
    background: transparent;
    border-color: transparent;
  }

  &:focus {
    border-color: $default-button-background;
  }

  &:active,
  &.buiButton--active {
    color: $link-text-color;
    background: transparent;
    border-color: transparent;

  }
}

.buiButton--size-small {
  @include btn-size('small');
}

.buiButton--size-medium {
  @include btn-size('medium');
}

.buiButton--size-large {
  @include btn-size('large');
}

.buiButton--fluid {
  display: block;
  width: 100%;
}

.buiButton--circular {
  border-radius: 2em;
}
