$sizes-em: (small: .875em, medium: 1em, large: 1.25em);
$sizes-rem: (small: .875rem, medium: 1rem, large: 1.25rem);

$border-radius: (small: .2rem, medium: .25rem, large: .3rem);
$padding-x: (small: .5rem, medium: 1rem, large: 1.25rem);
$padding-y: (small: .25rem, medium: .5rem, large: .625rem);
$padding: (small: map-get($padding-y, 'small') map-get($padding-x, 'small'), medium: map-get($padding-y, 'medium') map-get($padding-x, 'medium'), large: map-get($padding-y, 'large') map-get($padding-x, 'large'));

$line-height: 1.5;
