$icon-font-path: "https://static2.sharepointonline.com/files/fabric/assets/icons";
$icon-prefix: "buiIcon__icon--redmond";

$icon-var-aad-logo: '\ED68';
$icon-var-accept: '\E8FB';
$icon-var-access-logo: '\ED69';
$icon-var-access-logo-fill: '\F1DB';
$icon-var-accounts: '\E910';
$icon-var-activity-feed: '\F056';
$icon-var-add: '\E710';
$icon-var-add-event: '\EEB5';
$icon-var-add-favorite: '\F0C8';
$icon-var-add-favorite-fill: '\F0C9';
$icon-var-add-friend: '\E8FA';
$icon-var-add-group: '\EE3D';
$icon-var-add-online-meeting: '\ED8E';
$icon-var-add-phone: '\ED96';
$icon-var-add-to: '\ECC8';
$icon-var-admin: '\E7EF';
$icon-var-admin-a-logo: '\ED6A';
$icon-var-admin-c-logo: '\ED6B';
$icon-var-admin-d-logo: '\ED6C';
$icon-var-admin-e-logo: '\ED6D';
$icon-var-admin-l-logo: '\ED6E';
$icon-var-admin-m-logo: '\ED6F';
$icon-var-admin-o-logo: '\ED70';
$icon-var-admin-p-logo: '\ED71';
$icon-var-admin-s-logo: '\ED72';
$icon-var-admin-y-logo: '\ED73';
$icon-var-airplane: '\E709';
$icon-var-air-tickets: '\EF7A';
$icon-var-alarmclock: '\E919';
$icon-var-album: '\E7AB';
$icon-var-album-remove: '\EC62';
$icon-var-align-center: '\E8E3';
$icon-var-alig-left: '\E8E4';
$icon-var-align-right: '\E8E2';
$icon-var-analytics-logo: '\F1DE';
$icon-var-analytics-query: '\F1DF';
$icon-var-analytics-report: '\F1E1';
$icon-var-android-logo: '\EF8B';
$icon-var-annotation: '\E924';
$icon-var-app-icon-default: '\ECAA';
$icon-var-archive: '\F03F';
$icon-var-area-chart: '\E9D2';
$icon-var-arrivals: '\EB34';
$icon-var-arrow-down-right-8: '\EED5';
$icon-var-arrow-down-right-mirrored-8: '\EEF0';
$icon-var-arrow-tall-down-left: '\F2BF';
$icon-var-arrow-tall-down-right: '\F2C0';
$icon-var-arrow-tall-up-left: '\F2BD';
$icon-var-arrow-tall-up-right: '\F2BE';
$icon-var-arrow-up-right-8: '\EED4';
$icon-var-arrow-up-right-mirrored-8: '\EEEF';
$icon-var-articles: '\EAC1';
$icon-var-ascending: '\EDC0';
$icon-var-assessment-group: '\F31A';
$icon-var-assessment-group-template: '\F2B1';
$icon-var-asset-library: '\EEB6';
$icon-var-assign: '\E9D3';
$icon-var-asterisk: '\EA38';
$icon-var-atp-logo: '\EF85';
$icon-var-attach: '\E723';
$icon-var-australian-rules: '\EE70';
$icon-var-auto-enhance-off: '\E78E';
$icon-var-auto-enhance-on: '\E78D';
$icon-var-auto-fill-template: '\F313';
$icon-var-auto-racing: '\EB24';
$icon-var-away-status: '\EE6A';
$icon-var-azure-logo: '\EB6A';
$icon-var-back: '\E72B';
$icon-var-backlog: '\F2AC';
$icon-var-back-to-window: '\E73F';
$icon-var-badge: '\EC1B';
$icon-var-balloons: '\ED7E';
$icon-var-bar-chart-4: '\EAE7';
$icon-var-bar-chart-horizontal: '\E9EB';
$icon-var-bar-chart-vertical: '\E9EC';
$icon-var-baseball: '\EB20';
$icon-var-bidi-ltr: '\E9AA';
$icon-var-bidi-rtl: '\E9AB';
$icon-var-bing-logo: '\EB6B';
$icon-var-block-contact: '\E8F8';
$icon-var-blocked: '\E733';
$icon-var-blocked2: '\ECE4';
$icon-var-blowing-snow: '\E9C9';
$icon-var-blur: '\F28E';
$icon-var-boards: '\EF68';
$icon-var-bold: '\E8DD';
$icon-var-bookings-logo: '\EDC7';
$icon-var-bookmarks: '\E8A4';
$icon-var-bookmarks-mirrored: '\EA41';
$icon-var-box-addition-solid: '\F2D4';
$icon-var-box-checkmark-solid: '\F2D7';
$icon-var-box-logo: '\ED75';
$icon-var-box-multiply-solid: '\F2D5';
$icon-var-box-play-solid: '\F2D6';
$icon-var-box-subtract-solid: '\F2D3';
$icon-var-branch-commit: '\F293';
$icon-var-branch-compare: '\F294';
$icon-var-branch-fork: '\F173';
$icon-var-branch-fork2: '\F291';
$icon-var-branch-locked: '\F292';
$icon-var-branch-merge: '\F295';
$icon-var-branch-pull-request: '\F296';
$icon-var-branch-search: '\F297';
$icon-var-branch-shelveset: '\F298';
$icon-var-breadcrumb: '\EF8C';
$icon-var-brightness: '\E706';
$icon-var-broom: '\EA99';
$icon-var-bucket-color: '\F1B6';
$icon-var-bucket-color-fill: '\F1B7';
$icon-var-buffer-time-after: '\F0D0';
$icon-var-buffer-time-before: '\F0CF';
$icon-var-buffer-time-both: '\F0D1';
$icon-var-build: '\F28F';
$icon-var-build-issue: '\F319';
$icon-var-build-queue: '\F24F';
$icon-var-build-queueNew: '\F250';
$icon-var-bulleted-list: '\E8FD';
$icon-var-bulleted-list-2: '\F2C7';
$icon-var-bulleted-list-2-mirrored: '\F2C8';
$icon-var-bulleted-list-mirrored: '\EA42';
$icon-var-business-hours-sign: '\F310';
$icon-var-bus-solid: '\EB47';
$icon-var-cafe: '\EC32';
$icon-var-cake: '\ECA4';
$icon-var-calculator-addition: '\E948';
$icon-var-calculator-equal-to: '\E94E';
$icon-var-calculator-multiply: '\E947';
$icon-var-calculator-not-equal-to: '\F2D2';
$icon-var-calculator-subtract: '\E949';
$icon-var-calendar: '\E787';
$icon-var-calendar-agenda: '\EE9A';
$icon-var-calendar-day: '\E8BF';
$icon-var-calendar-mirrored: '\ED28';
$icon-var-calendar-reply: '\E8F5';
$icon-var-calendar-week: '\E8C0';
$icon-var-calendar-work-week: '\EF51';
$icon-var-calories-add: '\F172';
$icon-var-camera: '\E722';
$icon-var-cancel: '\E711';
$icon-var-canned-chat: '\F0F2';
$icon-var-car: '\E804';
$icon-var-caret-bottom-left-solid-8: '\F121';
$icon-var-caret-bottom-right-solid-8: '\F122';
$icon-var-caret-down-8: '\EDD8';
$icon-var-caret-down-solid-8: '\EDDC';
$icon-var-caret-hollow: '\E817';
$icon-var-caret-hollow-mirrored: '\EA45';
$icon-var-caret-left-8: '\EDD5';
$icon-var-caret-left-solid-8: '\EDD9';
$icon-var-caret-right: '\F06B';
$icon-var-caret-right-8: '\EDD6';
$icon-var-caret-right-solid-8: '\EDDA';
$icon-var-caret-solid: '\E818';
$icon-var-caret-solid-16: '\EE62';
$icon-var-caret-solid-down: '\F08E';
$icon-var-caret-solid-left: '\F08D';
$icon-var-caret-solid-mirrored: '\EA46';
$icon-var-caret-solid-right: '\F08F';
$icon-var-caret-solid-up: '\F090';
$icon-var-caret-top-left-solid-8: '\EF54';
$icon-var-caret-top-right-solid-8: '\EF55';
$icon-var-caret-up-8: '\EDD7';
$icon-var-caret-up-solid-8: '\EDDB';
$icon-var-cat: '\ED7F';
$icon-var-cell-phone: '\E8EA';
$icon-var-certificate: '\EB95';
$icon-var-chart: '\E999';
$icon-var-chat: '\E901';
$icon-var-chat-invite-friend: '\ECFE';
$icon-var-checkbox: '\E739';
$icon-var-checkbox-composite: '\E73A';
$icon-var-checkbox-composite-reversed: '\E73D';
$icon-var-checkbox-indeterminate: '\E73C';
$icon-var-check-list: '\E9D5';
$icon-var-check-mark: '\E73E';
$icon-var-chevron-down: '\E70D';
$icon-var-chevron-down-med: '\E972';
$icon-var-chevron-down-small: '\E96E';
$icon-var-chevron-left: '\E76B';
$icon-var-chevron-left-med: '\E973';
$icon-var-chevron-left-small: '\E96F';
$icon-var-chevron-right: '\E76C';
$icon-var-chevron-right-med: '\E974';
$icon-var-chevron-right-small: '\E970';
$icon-var-chevron-up: '\E70E';
$icon-var-chevron-up-med: '\E971';
$icon-var-chevron-up-small: '\E96D';
$icon-var-chrome-back: '\E830';
$icon-var-chrome-back-mirrored: '\EA47';
$icon-var-chrome-close: '\E8BB';
$icon-var-chrome-minimize: '\E921';
$icon-var-circle-addition: '\F2E3';
$icon-var-circle-addition-solid: '\F2E4';
$icon-var-circle-fill: '\EA3B';
$icon-var-circle-half-full: '\ED9E';
$icon-var-circle-pause: '\F2D9';
$icon-var-circle-pause-solid: '\F2D8';
$icon-var-circle-plus: '\EAEE';
$icon-var-circle-ring: '\EA3A';
$icon-var-circle-stop: '\F2DC';
$icon-var-circle-stop-solid: '\F2DB';
$icon-var-class-notebook-logo-inverse: '\EDC8';
$icon-var-classroom-logo: '\EF75';
$icon-var-clear: '\E894';
$icon-var-clear-filter: '\EF8F';
$icon-var-clear-formatting: '\EDDD';
$icon-var-clear-night: '\E9C2';
$icon-var-clock: '\E917';
$icon-var-clone-to-desktop: '\F28C';
$icon-var-closed-caption: '\EF84';
$icon-var-close-pane: '\E89F';
$icon-var-close-pane-mirrored: '\EA49';
$icon-var-cloud: '\E753';
$icon-var-cloud-add: '\ECA9';
$icon-var-cloud-download: '\EBD3';
$icon-var-cloud-upload: '\EC8E';
$icon-var-cloud-weather: '\E9BE';
$icon-var-cloudy: '\E9BF';
$icon-var-cocktails: '\EA9D';
$icon-var-code: '\E943';
$icon-var-coffee: '\EAEF';
$icon-var-coffee-script: '\F2FA';
$icon-var-collapse-content: '\F165';
$icon-var-collapse-content-single: '\F166';
$icon-var-collapse-menu: '\EF66';
$icon-var-college-football: '\EB26';
$icon-var-college-hoops: '\EB25';
$icon-var-color: '\E790';
$icon-var-column-left-two-thirds: '\F1D6';
$icon-var-column-left-two-thirds-edit: '\F324';
$icon-var-column-options: '\F317';
$icon-var-column-right-two-thirds: '\F1D7';
$icon-var-column-right-two-thirds-edit: '\F325';
$icon-var-combine: '\EDBB';
$icon-var-command-prompt: '\E756';
$icon-var-comment: '\E90A';
$icon-var-comment-add: '\F2B3';
$icon-var-comment-next: '\F2B4';
$icon-var-comment-previous: '\F2B5';
$icon-var-comment-urgent: '\F307';
$icon-var-communications: '\E95A';
$icon-var-compass-nw: '\E942';
$icon-var-completed: '\E930';
$icon-var-completed-solid: '\EC61';
$icon-var-contact: '\E77B';
$icon-var-contact-card: '\EEBD';
$icon-var-contact-info: '\E779';
$icon-var-contrast: '\E7A1';
$icon-var-copy: '\E8C8';
$icon-var-cotton: '\EAF3';
$icon-var-c-plus-plus: '\F2F4';
$icon-var-c-plus-plus-language: '\F2F3';
$icon-var-cricket: '\EB1E';
$icon-var-crm-report: '\EFFE';
$icon-var-c-sharp: '\F2F0';
$icon-var-c-sharp-language: '\F2EF';
$icon-var-css: '\EBEF';
$icon-var-custom-list: '\EEBE';
$icon-var-custom-list-mirrored: '\EEBF';
$icon-var-cut: '\E8C6';
$icon-var-cycling: '\EAC7';
$icon-var-database: '\EFC7';
$icon-var-data-connection-library: '\EEB7';
$icon-var-date-time: '\EC92';
$icon-var-date-time-2: '\EA17';
$icon-var-date-time-mirrored: '\EE93';
$icon-var-decrease-indent-legacy: '\E290';
$icon-var-delete: '\E74D';
$icon-var-delve-analytics: '\EEEE';
$icon-var-delve-analytics-logo: '\EDCA';
$icon-var-delve-logo: '\F280';
$icon-var-delve-logo-fill: '\F281';
$icon-var-delve-logo-inverse: '\ED76';
$icon-var-deploy: '\F29D';
$icon-var-descending: '\EDC1';
$icon-var-design: '\EB3C';
$icon-var-developer-tools: '\EC7A';
$icon-var-devices-3: '\EA6C';
$icon-var-devices-4: '\EB66';
$icon-var-dialpad: '\E75F';
$icon-var-dictionary: '\E82D';
$icon-var-diet-plan-notebook: '\EAC8';
$icon-var-diff-inline: '\F309';
$icon-var-diff-side-by-side: '\F30A';
$icon-var-disable-updates: '\E8D8';
$icon-var-dislike: '\E8E0';
$icon-var-dock-left: '\E90C';
$icon-var-dock-left-mirrored: '\EA4C';
$icon-var-dock-right: '\E90D';
$icon-var-doc-library: '\EEB8';
$icon-var-docs-logo-inverse: '\EDCB';
$icon-var-document: '\E8A5';
$icon-var-documentation: '\EC17';
$icon-var-document-management: '\EFFC';
$icon-var-document-reply: '\EF57';
$icon-var-document-search: '\EF6C';
$icon-var-document-set: '\EED6';
$icon-var-door: '\EB75';
$icon-var-double-Bookmark: '\EB8F';
$icon-var-double-chevron-down: '\EE04';
$icon-var-double-chevron-down-12: '\EE97';
$icon-var-double-chevron-left: '\EDBE';
$icon-var-double-chevron-left-12: '\EE98';
$icon-var-double-chevron-left-med: '\E991';
$icon-var-double-chevron-left-med-mirrored: '\EA4D';
$icon-var-double-chevron-right: '\EDBF';
$icon-var-double-chevron-right-12: '\EE99';
$icon-var-double-chevron-up: '\EDBD';
$icon-var-double-chevron-up-12: '\EE96';
$icon-var-double-column: '\F1D4';
$icon-var-double-column-edit: '\F322';
$icon-var-down: '\E74B';
$icon-var-download: '\E896';
$icon-var-drm: '\ECA8';
$icon-var-drop: '\EB42';
$icon-var-dropbox-logo: '\ED77';
$icon-var-dropdown: '\EDC5';
$icon-var-duststorm: '\E9CD';
$icon-var-dynamics-365-logo: '\EDCC';
$icon-var-dynamic-smb-logo: '\EDCD';
$icon-var-eat-drink: '\E807';
$icon-var-edge-logo: '\EC60';
$icon-var-edit: '\E70F';
$icon-var-edit-mail: '\EF61';
$icon-var-edit-mirrored: '\EB7E';
$icon-var-edit-note: '\ED9D';
$icon-var-edit-photo: '\EF77';
$icon-var-edit-style: '\EF60';
$icon-var-embed: '\ECCE';
$icon-var-emi: '\E731';
$icon-var-emoji: '\E899';
$icon-var-emoji-2: '\E76E';
$icon-var-emoji-disappointed: '\EA88';
$icon-var-emoji-neutral: '\EA87';
$icon-var-empty-recycle-bin: '\EF88';
$icon-var-equalizer: '\E9E9';
$icon-var-erase-tool: '\E75C';
$icon-var-error: '\E783';
$icon-var-error-badge: '\EA39';
$icon-var-event: '\ECA3';
$icon-var-event-info: '\ED8B';
$icon-var-excel-document: '\EF73';
$icon-var-excel-logo: '\F1E5';
$icon-var-excel-logo-fill: '\F1E6';
$icon-var-excel-logo-inverse: '\EC28';
$icon-var-exchange-logo: '\F284';
$icon-var-exchange-logo-fill: '\F285';
$icon-var-exchange-logo-inverse: '\ED78';
$icon-var-expand-menu: '\EF67';
$icon-var-explore-content: '\ECCD';
$icon-var-explore-content-single: '\F164';
$icon-var-export: '\EDE1';
$icon-var-export-mirrored: '\EDE2';
$icon-var-fabric-asset-library: '\F09C';
$icon-var-fabric-data-connection-library: '\F09D';
$icon-var-fabric-doc-library: '\F09E';
$icon-var-fabric-folder: '\F0A9';
$icon-var-fabric-folder-fill: '\F0AA';
$icon-var-fabric-folder-search: '\F0A4';
$icon-var-fabric-form-library: '\F09F';
$icon-var-fabric-form-library-mirrored: '\F0A0';
$icon-var-fabric-move-to-folder: '\F0A5';
$icon-var-fabric-new-folder: '\F0AB';
$icon-var-fabric-open-folder-horizontal: '\F0A8';
$icon-var-fabric-picture-library: '\F0AC';
$icon-var-fabric-public-folder: '\F0A3';
$icon-var-fabric-report-library: '\F0A1';
$icon-var-fabric-report-library-mirrored: '\F0A2';
$icon-var-fabric-sync-folder: '\F0A7';
$icon-var-fabric-unsync-folder: '\F0A6';
$icon-var-facebook-logo: '\ECB3';
$icon-var-family: '\EBDA';
$icon-var-fang-body: '\ECEB';
$icon-var-fast-forward: '\EB9D';
$icon-var-favicon: '\E737';
$icon-var-favorite-list: '\E728';
$icon-var-favorite-star: '\E734';
$icon-var-favorite-star-fill: '\E735';
$icon-var-fax: '\EF5C';
$icon-var-ferry: '\E7E3';
$icon-var-ferry-solid: '\EB48';
$icon-var-field-changed: '\F2C3';
$icon-var-field-empty: '\F2C1';
$icon-var-field-filled: '\F2C2';
$icon-var-field-not-changed: '\F2C4';
$icon-var-file-aspx: '\F2E9';
$icon-var-file-bug: '\F30D';
$icon-var-file-code: '\F30E';
$icon-var-file-comment: '\F30F';
$icon-var-file-css: '\F2EA';
$icon-var-file-html: '\F2ED';
$icon-var-file-image: '\F311';
$icon-var-file-jave: '\F2E8';
$icon-var-file-less: '\F2EC';
$icon-var-file-pdb: '\F2E5';
$icon-var-file-sass: '\F2EB';
$icon-var-file-sql: '\F2E7';
$icon-var-file-symlink: '\F312';
$icon-var-file-template: '\F2E6';
$icon-var-filter: '\E71C';
$icon-var-filters: '\E795';
$icon-var-financial: '\E7BB';
$icon-var-fingerprint: '\E928';
$icon-var-five-tile-grid: '\F274';
$icon-var-flag: '\E7C1';
$icon-var-flame-solid: '\F1F3';
$icon-var-flick-down: '\E935';
$icon-var-flick-left: '\E937';
$icon-var-flick-right: '\E938';
$icon-var-flick-up: '\E936';
$icon-var-flow: '\EF90';
$icon-var-focal-point: '\F277';
$icon-var-fog: '\E9CB';
$icon-var-folder: '\E8B7';
$icon-var-folder-fill: '\E8D5';
$icon-var-folder-horizontal: '\F12B';
$icon-var-folder-list: '\F2CE';
$icon-var-folder-list-mirrored: '\F2CF';
$icon-var-folder-open: '\E838';
$icon-var-folder-query: '\F2CD';
$icon-var-folder-search: '\EF65';
$icon-var-font: '\E8D2';
$icon-var-font-color: '\E8D3';
$icon-var-font-decrease: '\E8E7';
$icon-var-font-increase: '\E8E8';
$icon-var-font-size: '\E8E9';
$icon-var-form-library: '\EEB9';
$icon-var-form-library-mirrored: '\EEBA';
$icon-var-forward: '\E72A';
$icon-var-forward-event: '\ED8C';
$icon-var-freezing: '\E9EF';
$icon-var-frigid: '\E9CA';
$icon-var-f-sharp: '\F2F6';
$icon-var-f-sharp-language: '\F2F5';
$icon-var-full-circle-mask: '\E91F';
$icon-var-full-history: '\F31C';
$icon-var-full-screen: '\E740';
$icon-var-full-width: '\F2FE';
$icon-var-full-width-edit: '\F2FF';
$icon-var-generate: '\E9DA';
$icon-var-giftbox: '\EC1F';
$icon-var-giftbox-open: '\F133';
$icon-var-gift-card: '\EB8E';
$icon-var-git-graph: '\F2CA';
$icon-var-glasses: '\EA16';
$icon-var-glimmer: '\ECF4';
$icon-var-global-nav-button: '\E700';
$icon-var-globe: '\E774';
$icon-var-globe-favorite: '\EF53';
$icon-var-golf: '\EB1F';
$icon-var-google-drive-logo: '\EE0B';
$icon-var-goto-today: '\E8D1';
$icon-var-gripper-bar-vertical: '\E784';
$icon-var-gripper-tool: '\E75E';
$icon-var-group: '\E902';
$icon-var-grouped-ascending: '\EE67';
$icon-var-grouped-descending: '\EE66';
$icon-var-grouped-list: '\EF74';
$icon-var-hail-day: '\EA00';
$icon-var-hail-night: '\EA13';
$icon-var-handwriting: '\E929';
$icon-var-hard-drive-group: '\F18F';
$icon-var-header1: '\EA19';
$icon-var-header2: '\EF36';
$icon-var-header3: '\EF37';
$icon-var-header4: '\EF38';
$icon-var-headset: '\E95B';
$icon-var-health: '\E95E';
$icon-var-heart: '\EB51';
$icon-var-heart-fill: '\EB52';
$icon-var-help: '\E897';
$icon-var-help-mirrored: '\EA51';
$icon-var-hide: '\ED1A';
$icon-var-hide-2: '\EF89';
$icon-var-highlight: '\E7E6';
$icon-var-highlight-mapped-shapes: '\F2A1';
$icon-var-history: '\E81C';
$icon-var-home: '\E80F';
$icon-var-home-solid: '\EA8A';
$icon-var-hospital: '\E91D';
$icon-var-hotel: '\E824';
$icon-var-icon-sets-flag: '\F2A4';
$icon-var-image-crosshair: '\F2C9';
$icon-var-image-diff: '\F30B';
$icon-var-image-pixel: '\F30C';
$icon-var-import: '\E8B5';
$icon-var-important: '\E8C9';
$icon-var-import-mirrored: '\EA52';
$icon-var-inbox-check: '\EF64';
$icon-var-incident-triangle: '\E814';
$icon-var-increase-indent-legacy: '\E291';
$icon-var-info: '\E946';
$icon-var-info-2: '\EA1F';
$icon-var-info-solid: '\F167';
$icon-var-insert-text-box: '\EC7D';
$icon-var-install-to-drive: '\F28D';
$icon-var-internet-sharing: '\E704';
$icon-var-ios-app-store-logo: '\EF8A';
$icon-var-issue-tracking: '\EEC0';
$icon-var-issue-tracking-mirrored: '\EEC1';
$icon-var-italic: '\E8DB';
$icon-var-javascript-language: '\F2EE';
$icon-var-join-online-meeting: '\ED8F';
$icon-var-js: '\EBF0';
$icon-var-label: '\E932';
$icon-var-landscape-orientation: '\EF6B';
$icon-var-laptop-selected: '\EC76';
$icon-var-large-grid: '\EECB';
$icon-var-library: '\E8F1';
$icon-var-lifesaver: '\EF62';
$icon-var-lifesaver-lock: '\EF63';
$icon-var-light: '\E793';
$icon-var-lightbulb: '\EA80';
$icon-var-lightning-bolt: '\E945';
$icon-var-like: '\E8E1';
$icon-var-line-chart: '\E9E6';
$icon-var-link: '\E71B';
$icon-var-list: '\EA37';
$icon-var-list-mirrored: '\EA55';
$icon-var-locale-language: '\F2B7';
$icon-var-location: '\E81D';
$icon-var-location-circle: '\E80E';
$icon-var-location-dot: '\E827';
$icon-var-location-fill: '\E920';
$icon-var-location-outline: '\F2D0';
$icon-var-lock: '\E72E';
$icon-var-lock-solid: '\E9A2';
$icon-var-log-remove: '\F316';
$icon-var-lower-brightness: '\EC8A';
$icon-var-lync-logo: '\ED79';
$icon-var-mail: '\E715';
$icon-var-mail-alert: '\ED80';
$icon-var-mail-check: '\ED81';
$icon-var-mail-fill: '\E8A8';
$icon-var-mail-forward: '\E89C';
$icon-var-mail-forward-mirrored: '\EA56';
$icon-var-mail-low-importance: '\ED82';
$icon-var-mail-pause: '\ED83';
$icon-var-mail-repeat: '\ED84';
$icon-var-mail-reply: '\E8CA';
$icon-var-mail-reply-all: '\E8C2';
$icon-var-mail-reply-all-mirrored: '\EA58';
$icon-var-mail-reply-mirrored: '\EA57';
$icon-var-map-directions: '\E816';
$icon-var-map-pin: '\E707';
$icon-var-markdown-language: '\F2FB';
$icon-var-market: '\EAFC';
$icon-var-market-down: '\EF42';
$icon-var-megaphone: '\E789';
$icon-var-memo: '\E77C';
$icon-var-merge: '\E7D5';
$icon-var-merge-duplicate: '\F29A';
$icon-var-message: '\E8BD';
$icon-var-message-fill: '\EC70';
$icon-var-microphone: '\E720';
$icon-var-microsoft-staffhub-logo: '\F130';
$icon-var-mini-link: '\E732';
$icon-var-mobile-selected: '\EC75';
$icon-var-money: '\EAFD';
$icon-var-more: '\E712';
$icon-var-more-sports: '\EB22';
$icon-var-more-vertical: '\F2BC';
$icon-var-move: '\E7C2';
$icon-var-move-to-folder: '\E8DE';
$icon-var-msn-logo: '\EB6C';
$icon-var-msn-videos: '\EB1C';
$icon-var-msn-videos-solid: '\F2DA';
$icon-var-multi-select: '\E762';
$icon-var-multi-select-mirrored: '\EA98';
$icon-var-music-in-collection: '\E940';
$icon-var-music-in-collection-fill: '\EA36';
$icon-var-music-note: '\EC4F';
$icon-var-nav-2d-map-view: '\E800';
$icon-var-navigate-back: '\F2DD';
$icon-var-navigate-back-mirrored: '\F2DE';
$icon-var-navigate-forward: '\F2DF';
$icon-var-navigate-forward-mirrored: '\F2E0';
$icon-var-network-tower: '\EC05';
$icon-var-new-analytics-query: '\F1E0';
$icon-var-new-folder: '\E8F4';
$icon-var-news: '\E900';
$icon-var-new-team-project: '\F2B2';
$icon-var-next: '\E893';
$icon-var-note-forward: '\ED99';
$icon-var-note-pinned: '\ED9A';
$icon-var-note-reply: '\ED98';
$icon-var-numbered-list: '\EA1C';
$icon-var-number-field: '\EDC4';
$icon-var-office-addins-logo: '\EEC7';
$icon-var-office-assistant-logo: '\EDCE';
$icon-var-office-form-logo: '\EF86';
$icon-var-office-logo: '\EB6E';
$icon-var-office-store-logo: '\EDCF';
$icon-var-office-video-logo: '\F282';
$icon-var-office-video-logo-fill: '\F283';
$icon-var-office-video-logo-inverse: '\ED7A';
$icon-var-offline-one-drive-parachute: '\EEC8';
$icon-var-offline-one-drive-parachute-disabled: '\EEC9';
$icon-var-one-drive: '\E941';
$icon-var-one-drive-add: '\EF32';
$icon-var-one-note-edu-logo-inverse: '\EDD0';
$icon-var-one-note-logo: '\F1E7';
$icon-var-one-note-logo-fill: '\F1E8';
$icon-var-one-note-logo-inverse: '\EC0D';
$icon-var-open-file: '\E8E5';
$icon-var-open-folder-horizontal: '\ED25';
$icon-var-open-in-new-window: '\E8A7';
$icon-var-open-pane: '\E8A0';
$icon-var-open-pane-mirrored: '\EA5B';
$icon-var-open-source: '\EBC2';
$icon-var-org: '\ECA6';
$icon-var-outlook-logo: '\F1E9';
$icon-var-outlook-logo-fill: '\F1EA';
$icon-var-outlook-logo-inverse: '\EB6D';
$icon-var-out-of-office: '\ED34';
$icon-var-package: '\E7B8';
$icon-var-packages: '\F318';
$icon-var-page: '\E7C3';
$icon-var-page-add: '\EA1A';
$icon-var-page-checked-in: '\F104';
$icon-var-page-checked-out: '\F02C';
$icon-var-page-left: '\E760';
$icon-var-page-right: '\E761';
$icon-var-page-solid: '\E729';
$icon-var-pano-indicator: '\E7B0';
$icon-var-parameter: '\F306';
$icon-var-parature-logo: '\ED7B';
$icon-var-partly-cloudy-day: '\E9C0';
$icon-var-partly-cloudy-night: '\E9C1';
$icon-var-party-leader: '\ECA7';
$icon-var-paste: '\E77F';
$icon-var-pause: '\E769';
$icon-var-payment-card: '\E8C7';
$icon-var-pc-1: '\E977';
$icon-var-pdf: '\EA90';
$icon-var-pencil-reply: '\EF7B';
$icon-var-people: '\E716';
$icon-var-people-add: '\EA15';
$icon-var-people-alert: '\ED93';
$icon-var-people-block: '\ED91';
$icon-var-people-pause: '\ED94';
$icon-var-people-repeat: '\ED92';
$icon-var-permissions: '\E8D7';
$icon-var-personalize: '\E771';
$icon-var-phone: '\E717';
$icon-var-photo-2: '\EB9F';
$icon-var-photo-2-add: '\ECAB';
$icon-var-photo-2-remove: '\ECAC';
$icon-var-photo-collection: '\E7AA';
$icon-var-picture: '\E8B9';
$icon-var-picture-library: '\EEC2';
$icon-var-pie-double: '\EB04';
$icon-var-pie-single: '\EB05';
$icon-var-pill: '\EACB';
$icon-var-pin: '\E718';
$icon-var-pinned: '\E840';
$icon-var-pinned-fill: '\E842';
$icon-var-pivot-chart: '\F24C';
$icon-var-planner-logo: '\EDD1';
$icon-var-play: '\E768';
$icon-var-player-settings: '\EF58';
$icon-var-play-resume: '\F2C6';
$icon-var-plug: '\F300';
$icon-var-plug-connected: '\F302';
$icon-var-plug-disconnected: '\F303';
$icon-var-plug-solid: '\F301';
$icon-var-poi: '\ECAF';
$icon-var-poi-solid: '\F2D1';
$icon-var-post-update: '\E8F3';
$icon-var-power-apps: '\EDD2';
$icon-var-power-apps-2-logo: '\F092';
$icon-var-power-apps-logo: '\F091';
$icon-var-power-bi-logo: '\EA1E';
$icon-var-powerpoint-document: '\EF72';
$icon-var-powerpoint-logo: '\F1EB';
$icon-var-powerpoint-logo-fill: '\F1EC';
$icon-var-powerpoint-logo-inverse: '\EC2A';
$icon-var-precipitation: '\E9CF';
$icon-var-presence-chicklet-video: '\E979';
$icon-var-preview: '\E8FF';
$icon-var-preview-link: '\E8A1';
$icon-var-previous: '\E892';
$icon-var-print: '\E749';
$icon-var-printfax-printer-file: '\E956';
$icon-var-processing: '\E9F5';
$icon-var-process-meta-task: '\F290';
$icon-var-product: '\ECDC';
$icon-var-pro-football: '\EB27';
$icon-var-progress-ring-dots: '\F16A';
$icon-var-pro-hockey: '\EB28';
$icon-var-project-logo-inverse: '\EDD4';
$icon-var-protected-document: '\E8A6';
$icon-var-protect-restrict: '\F22A';
$icon-var-public-calendar: '\EF6D';
$icon-var-public-contact-card: '\EF6E';
$icon-var-public-email: '\EF6F';
$icon-var-public-folder: '\EF70';
$icon-var-publisher-logo: '\F1ED';
$icon-var-publisher-logo-fill: '\F1EE';
$icon-var-puzzle: '\EA86';
$icon-var-py: '\F2F9';
$icon-var-python-language: '\F2F8';
$icon-var-query-list: '\F2B8';
$icon-var-questionnaire: '\EE19';
$icon-var-questionnaire-mirrored: '\EE4B';
$icon-var-quick-note: '\E70B';
$icon-var-radio-btn-off: '\ECCA';
$icon-var-radio-btn-on: '\ECCB';
$icon-var-radio-bullet: '\E915';
$icon-var-rain: '\E9C4';
$icon-var-rain-showers-day: '\E9C3';
$icon-var-rain-showers-night: '\EA0F';
$icon-var-rain-snow: '\E9C7';
$icon-var-raw-source: '\F299';
$icon-var-read: '\E8C3';
$icon-var-reading-mode: '\E736';
$icon-var-receipt-check: '\EF5B';
$icon-var-receipt-forward: '\EF59';
$icon-var-receipt-reply: '\EF5A';
$icon-var-recent: '\E823';
$icon-var-record-2: '\EA3F';
$icon-var-recurring-event: '\EF5D';
$icon-var-recurring-task: '\EDB2';
$icon-var-recycle-bin: '\EF87';
$icon-var-redeploy: '\F29E';
$icon-var-red-eye: '\E7B3';
$icon-var-redo: '\E7A6';
$icon-var-refresh: '\E72C';
$icon-var-reminder-group: '\EBF8';
$icon-var-remove: '\E738';
$icon-var-remove-event: '\ED8A';
$icon-var-remove-filter: '\EB08';
$icon-var-remove-link: '\ED90';
$icon-var-remove-occurrence: '\ED9B';
$icon-var-rename: '\E8AC';
$icon-var-reopen-pages: '\ED50';
$icon-var-repair: '\E90F';
$icon-var-reply: '\E97A';
$icon-var-reply-all: '\EE0A';
$icon-var-reply-all-alt: '\EF5F';
$icon-var-reply-all-mirrored: '\EE36';
$icon-var-reply-alt: '\EF5E';
$icon-var-reply-mirrored: '\EE35';
$icon-var-repo: '\F2CB';
$icon-var-report-library: '\EEBB';
$icon-var-report-library-mirrored: '\EEBC';
$icon-var-repo-solid: '\F2CC';
$icon-var-return-to-session: '\ED24';
$icon-var-rev-toggle-key: '\E845';
$icon-var-rewind: '\EB9E';
$icon-var-ribbon: '\E9D1';
$icon-var-right-double-quote: '\E9B1';
$icon-var-ringer: '\EA8F';
$icon-var-ringer-off: '\F2C5';
$icon-var-robot: '\E99A';
$icon-var-room: '\ED9F';
$icon-var-rotate: '\E7AD';
$icon-var-rows-child: '\F29C';
$icon-var-rows-group: '\F29B';
$icon-var-rugby: '\EB2D';
$icon-var-running: '\EADA';
$icon-var-sad: '\E757';
$icon-var-save: '\E74E';
$icon-var-save-all: '\F203';
$icon-var-save-and-close: '\F038';
$icon-var-save-as: '\E792';
$icon-var-schedule-event-action: '\F1EF';
$icon-var-scope-template: '\F2B0';
$icon-var-script: '\F03A';
$icon-var-scroll-up-down: '\EC8F';
$icon-var-search: '\E721';
$icon-var-section: '\EC0C';
$icon-var-sections: '\EF76';
$icon-var-security-group: '\ED85';
$icon-var-send: '\E724';
$icon-var-send-mirrored: '\EA63';
$icon-var-server: '\F201';
$icon-var-server-enviroment: '\F29F';
$icon-var-server-processes: '\F1FE';
$icon-var-set-action: '\F071';
$icon-var-settings: '\E713';
$icon-var-share: '\E72D';
$icon-var-share-ios: '\EF79';
$icon-var-sharepoint-logo: '\F27E';
$icon-var-sharepoint-logo-fill: '\F27F';
$icon-var-sharepoint-logo-inverse: '\ED18';
$icon-var-shield: '\EA18';
$icon-var-shop: '\E719';
$icon-var-shopping-cart: '\E7BF';
$icon-var-shop-server: '\F2B6';
$icon-var-show-results: '\E8BC';
$icon-var-show-results-mirrored: '\EA65';
$icon-var-side-panel: '\EF52';
$icon-var-single-bookmark: '\EDFF';
$icon-var-single-column: '\F1D3';
$icon-var-single-column-edit: '\F321';
$icon-var-sip-move: '\E759';
$icon-var-skype-check: '\EF80';
$icon-var-skype-circle-check: '\EF7D';
$icon-var-skype-circle-clock: '\EF7E';
$icon-var-skype-circle-minus: '\EF7F';
$icon-var-skype-clock: '\EF81';
$icon-var-skype-for-business-logo-fill: '\F27D';
$icon-var-skype-logo: '\EB6F';
$icon-var-skype-message: '\EF83';
$icon-var-skype-minus: '\EF82';
$icon-var-slider-thumb: '\EC13';
$icon-var-snow: '\E9C8';
$icon-var-snowflake: '\EB46';
$icon-var-snow-shower-day: '\E9FD';
$icon-var-snow-shower-night: '\EA11';
$icon-var-soccer: '\EB21';
$icon-var-social-listening-logo: '\ED7C';
$icon-var-sort: '\E8CB';
$icon-var-sort-down: '\EE69';
$icon-var-sort-lines: '\E9D0';
$icon-var-sort-up: '\EE68';
$icon-var-speakers: '\E7F5';
$icon-var-speed-high: '\EC4A';
$icon-var-split: '\EDBC';
$icon-var-squalls: '\E9CC';
$icon-var-stacked-bar-chart: '\F24D';
$icon-var-stacked-line-chart: '\F24E';
$icon-var-stack-indicator: '\E7FF';
$icon-var-starburst: '\EF78';
$icon-var-status-error-full: '\EB90';
$icon-var-status-triangle: '\EA82';
$icon-var-step: '\F241';
$icon-var-step-insert: '\F242';
$icon-var-step-shared: '\F243';
$icon-var-step-shared-add: '\F244';
$icon-var-step-shared-insert: '\F245';
$icon-var-stock-down: '\EB0F';
$icon-var-stock-up: '\EB11';
$icon-var-stop: '\E71A';
$icon-var-stop-solid: '\EE95';
$icon-var-stopwatch: '\E916';
$icon-var-store-logo: '\EA96';
$icon-var-store-logo-med: '\EA04';
$icon-var-storyboard: '\F308';
$icon-var-streaming: '\E93E';
$icon-var-streaming-off: '\F2BB';
$icon-var-strikethrough: '\EDE0';
$icon-var-subscribe: '\EDA1';
$icon-var-subscript: '\EDDF';
$icon-var-suitcase: '\EDD3';
$icon-var-sun-add: '\EF69';
$icon-var-sunny: '\E9BD';
$icon-var-sun-question-mark: '\EF6A';
$icon-var-superscript: '\EDDE';
$icon-var-sway-logo-inverse: '\ED29';
$icon-var-switch: '\E8AB';
$icon-var-switcher-start-end: '\E810';
$icon-var-sync: '\E895';
$icon-var-sync-folder: '\E8F7';
$icon-var-sync-to-pc: '\EE6E';
$icon-var-system: '\E770';
$icon-var-tab: '\E7E9';
$icon-var-table: '\ED86';
$icon-var-tablet: '\E70A';
$icon-var-tablet-selected: '\EC74';
$icon-var-tag: '\E8EC';
$icon-var-task-group: '\F2AE';
$icon-var-task-group-mirrored: '\F2AF';
$icon-var-task-manager: '\EDB7';
$icon-var-task-manager-mirrored: '\EDB8';
$icon-var-team-favorite: '\F2AD';
$icon-var-teams-logo: '\F27B';
$icon-var-teams-logo-fill: '\F27C';
$icon-var-teams-logo-inverse: '\F27A';
$icon-var-teamwork: '\EA12';
$icon-var-temporary-user: '\EE58';
$icon-var-tennis: '\EB33';
$icon-var-text-box: '\EDC2';
$icon-var-text-callout: '\F2A2';
$icon-var-text-document: '\F029';
$icon-var-text-field: '\EDC3';
$icon-var-thumbnail-view: '\E7B6';
$icon-var-thumbnail-view-mirrored: '\EA67';
$icon-var-thunderstorms: '\E9C6';
$icon-var-ticket: '\EB54';
$icon-var-tiles: '\ECA5';
$icon-var-tiles-2: '\EF7C';
$icon-var-timeline: '\ED9C';
$icon-var-timeline-delivery: '\F2AB';
$icon-var-timeline-progress: '\F2AA';
$icon-var-timer: '\E91E';
$icon-var-toggle-border: '\EC12';
$icon-var-toggle-filled: '\EC11';
$icon-var-toggle-thumb: '\EC14';
$icon-var-touch: '\E815';
$icon-var-touch-pointer: '\E7C9';
$icon-var-train: '\E7C0';
$icon-var-train-solid: '\EB4D';
$icon-var-transfer-call: '\ED95';
$icon-var-triangle-down-12: '\EED1';
$icon-var-triangle-left-12: '\EED2';
$icon-var-triangle-right-12: '\EED3';
$icon-var-triangle-solid: '\EA08';
$icon-var-triangle-solid-down-12: '\EECD';
$icon-var-triangle-solid-left-12: '\EECE';
$icon-var-triangle-solid-right-12: '\EECF';
$icon-var-triangle-solid-up-12: '\EECC';
$icon-var-triangle-up-12: '\EED0';
$icon-var-trigger-auto: '\F24A';
$icon-var-trigger-user: '\F24B';
$icon-var-triple-column: '\F1D5';
$icon-var-triple-column-edit: '\F323';
$icon-var-trophy: '\ED3F';
$icon-var-turn-right: '\E7DB';
$icon-var-tv-monitor: '\E7F4';
$icon-var-tv-monitor-selected: '\EC77';
$icon-var-type-script-language: '\F2F7';
$icon-var-underline: '\E8DC';
$icon-var-undo: '\E7A7';
$icon-var-unfavorite: '\E8D9';
$icon-var-unknown: '\E9CE';
$icon-var-unknown-call: '\ED97';
$icon-var-unknown-mirrored-solid: '\F2E2';
$icon-var-unknown-solid: '\F2E1';
$icon-var-unlock: '\E785';
$icon-var-unlock-solid: '\F304';
$icon-var-unpin: '\E77A';
$icon-var-unsubscribe: '\EDA0';
$icon-var-unsync-folder: '\E8F6';
$icon-var-up: '\E74A';
$icon-var-upload: '\E898';
$icon-var-user-pause: '\F2BA';
$icon-var-user-sync: '\F2B9';
$icon-var-variable: '\F305';
$icon-var-variable-group: '\F31B';
$icon-var-vb: '\F2F2';
$icon-var-venn-diagram: '\F273';
$icon-var-video: '\E714';
$icon-var-video-solid: '\EA0C';
$icon-var-view: '\E890';
$icon-var-view-all: '\E8A9';
$icon-var-view-all-2: '\EF56';
$icon-var-view-dashboard: '\F246';
$icon-var-view-list: '\F247';
$icon-var-view-list-group: '\F248';
$icon-var-view-list-tree: '\F249';
$icon-var-visio-diagram: '\F2A0';
$icon-var-visio-document: '\F2A9';
$icon-var-visio-logo: '\F2A7';
$icon-var-visio-logo-fill: '\F2A8';
$icon-var-visio-logo-inverse: '\ED7D';
$icon-var-visual-basic-language: '\F2F1';
$icon-var-voicemail-forward: '\ED87';
$icon-var-voicemail-reply: '\ED88';
$icon-var-volume-0: '\E992';
$icon-var-volume-1: '\E993';
$icon-var-volume-2: '\E994';
$icon-var-volume-3: '\E995';
$icon-var-volume-disabled: '\EA85';
$icon-var-waffle: '\ED89';
$icon-var-warning: '\E7BA';
$icon-var-website: '\EB41';
$icon-var-weights: '\EADB';
$icon-var-wifi-ethernet: '\EE77';
$icon-var-wind-direction: '\EBE6';
$icon-var-windows-logo: '\E782';
$icon-var-wipe-phone: '\ED8D';
$icon-var-word-document: '\EF71';
$icon-var-word-logo: '\F1E3';
$icon-var-word-logo-fill: '\F1E4';
$icon-var-word-logo-inverse: '\EC29';
$icon-var-work: '\E821';
$icon-var-work-flow: '\EA01';
$icon-var-work-item: '\F314';
$icon-var-work-item-bug: '\F315';
$icon-var-world-clock: '\E918';
$icon-var-yammer-logo: '\ED19';
$icon-var-zip-folder: '\F012';
$icon-var-zoom: '\E71E';
$icon-var-zoom-in: '\E8A3';
$icon-var-zoom-out: '\E71F';
